/* Crousel Basic CSS */
.main-slider-container { position: relative; margin: 0 auto }
.slider-container { width: 500px; position: absolute; overflow: hidden; border: 1px solid #000; }
ul { position: relative; margin: 0; padding: 0;   }
li { list-style-type: none; position: relative; float: left; }
.disable-link { pointer-events: none; }
.prev {  left: -60px; background: url(../images/prev.png); }
.next {  right: -60px; background: url(../images/next.png); }
.disable-link.prev { background: none; }
.disable-link.next { background: none; }
.crousel-navigation { position: absolute; top: 110px; width: 50px; height: 50px; }

/*  Some other style to butify content */
.slider-container h3, .slider-container p { margin-left: 20px; margin-right: 20px; }
.slider-container p { width: 200px; display: inline-block; vertical-align: top; }
.slider-container .crousel-image-outer { margin-right: 20px; display: inline-block; width: 200px; }